body {
  margin: 0;
}

.box {
  width: 100vw;
  height: 50vh;
}

.box-px {
  background-color: grey;
}

@media only screen and (max-width: 767px) {
  .box-px {
    opacity: .5;
  }
}

.box-em {
  background-color: coral;
}

@media only screen and (max-width: 47.9375em) {
  .box-em {
    opacity: .5;
  }
}
